@model IEnumerable<NewsArticle>

<div class="row">
    <h2>Hello, @User.Identity.Name</h2>
    <h5 id="time"></h5>
    @foreach(var item in Model)
    {
     <div class="card m-4" style="width: 600px;">
          <div class="card-divider bg-danger">
            <h5 class="m-4">@item.Title</h5>
          </div>
          <img src=@item.urlToImage>
          <div class="card-section" style="">
            <h5 class="m-4">@item.Description</h5>
            <p class="m-4">@item.content</p>
          </div>
          <div class="card-divider">
              <a href=@item.url target="_blank">Read More.</a>
          </div>
            <h5>By @item.Author at <span class="text-sm-center">@item.publishedAt</span></h5>
    </div>
    } 
</div>

<script>
    function setTime() {
        var time = new Date().toLocaleTimeString();
        $("#time").text(time);
    }

    setInterval(() => {
        setTime();
    },1000)
</script>